################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AvaloniaApplication1/bin/Debug
/AvaloniaApplication1/obj/Debug
/.vs
/AvaloniaApplication1/obj
